# ------------------------
# Rasa
# ------------------------
backend/.rasa/

# ------------------------
# Python
# ------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Python build
build/
dist/
*.egg-info/

# Virtual environments
venv/
.venv/

# Logs
*.log

# ------------------------
# Node / React
# ------------------------
node_modules/
npm-debug.log*

# ------------------------
# OS Files
# ------------------------
.DS_Store
Thumbs.db

# ------------------------
# Environment variables
# ------------------------
.env
.env.*