blinker==1.9.0
certifi==2025.10.5
charset-normalizer==3.4.4
click==8.3.0
contourpy==1.3.2
cycler==0.12.1
Flask==3.1.2
flask-cors==6.0.1
fonttools==4.60.1
idna==3.11
ImageIO==2.37.2
itsdangerous==2.2.0
Jinja2==3.1.6
kiwisolver==1.4.9
lazy_loader==0.4
MarkupSafe==3.0.3
matplotlib==3.10.7
networkx==2.8.8
numpy==1.24.4
opencv-python==4.8.1.78
packaging==25.0
pillow==12.0.0
pyparsing==3.2.5
python-dateutil==2.9.0.post0
PyWavelets==1.8.0
requests==2.32.5
scikit-image==0.21.0
scipy==1.15.3
six==1.17.0
tifffile==2025.10.16
urllib3==2.5.0
Werkzeug==3.1.3
